@mixin section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "module";
}

.section {
    @include section;

    &--container {
        @include section;
        grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
        grid-template-areas: ". module .";

    }
}